* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #344a72;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px; 
}

a {
  text-decoration: none;
}

#container {
  margin: auto;
  max-width: 310px;
  margin-top: 20px;
}

.form-wrap {
  background-color: #fff;
  margin: auto;
  max-width: 300px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
  margin: auto;
  width: 90%;
  padding: 8px 0px;
}

.form-wrap .form-group {
  padding: 8px 20px;
  color: #929292;
}

.form-wrap .form-group label {
  display: block;
}

.form-wrap .form-group input {
  width: 100%;
}

.form-wrap button {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 88%;
  background-color: #49c1a2;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 4px;
}

.form-wrap button:hover {
  background-color: #37a08e;
  color: #fff;
}

.form-wrap .bottom-text {
  font-size: 13px;
}

footer {
  margin: auto;
  max-width: 280px;
  margin-top: 10px;
  color: #fff;
}

footer a {
  color: #49c1a2;
}

footer a:hover {
  color: #37a08e;
}